img {
    max-width: 100%;
    height: auto;
  }

  video {
    width: 90%;
  }

  .article__figure {
    margin: 10px;
    text-align: center;
    font-style: italic;
    margin-bottom: 20px;
  }

.bande-annonce {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}