.footer {
    background-color: #5890C4;
  }

.footer__logo {
    display: flex;
    weight : 122px;
    height: 122px;
  }

.footer__seperator {
    border: 0;
    height: 1px;
    background-color: black;
    margin: 20px 0;
}
  
.footer__contact {
    text-align: center;
  }

.footer__icon {
    weight : 287px;
    height: 50px;
  }