form {
    border: 2px ;
    background-color: rgba(40, 99, 79, 0.75);
    padding: 20px;
    align-items: center;
    margin: 10px;
}

.form__case {
    margin-bottom: 20px;
}


.form__case label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form__button input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
}