/* Style pour le formulaire */
form {
    border: 2px ; /* Bordure solide autour du formulaire */
    background-color: green;
    padding: 20px;
    align-items: center;
    margin: 10px;
}

/* Style pour chaque case du formulaire */
.form__case {
    margin-bottom: 20px;
}

/* Style pour les labels */
.form__case label {
    display: block; /* Affiche les labels sur une nouvelle ligne */; 
    margin-bottom: 5px; /* Espacement entre le label et l'input/textarea */
    font-weight: bold; /* Texte en gras pour le label */
}

/* Style pour les inputs et textarea */
input[type="text"],
input[type="email"],
textarea {
    width: 90%; /* Largeur pleine pour s'adapter au conteneur */
    padding: 10px; /* Espacement interne */
    border: 1px solid #ccc; /* Bordure légère */
    border-radius: 4px; /* Coins arrondis */
}

.form__button input[type="submit"] {
    padding: 10px 20px; /* Espacement interne */
    border: none;
    border-radius: 4px; /* Coins arrondis */
    cursor: pointer; /* Curseur pointer */
    font-size: 1em; /* Taille de la police */
    transition: background-color 0.3s ease; /* Effet de transition */
}