/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  background-color: #28634F;
  transition: all 0.3s ease-in-out;
}

.header__start {
  background-color: #28634F;
}

.header__end {
  display: flex;
  align-items: center;
}

.header__logo {
  padding: 10px;
  padding-bottom: 2px;
  height: auto;
}

.top__title {
  padding-top: 80px;
  text-align: center;
  line-height: 1.4;
}

.top__introduction {
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
  margin-bottom: 20px;
}