.article__button {
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    padding: 2px 3px;
    border: 1px solid black;
    place-items: center;
    gap: 2px;
    transition: all .3s ease-in-out;
    margin-top: 30px;
    margin-bottom: 30px;
}

.article__button__back {
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    padding: 2px 3px;
    border: 1px solid black;
    place-items: center;
    gap: 2px;
    transition: all .3s ease-in-out;
    margin-top: 30px;
    margin-bottom: 30px;
}


.back__arrow {
    rotate: 180deg;
}

.apagnan {
    display: flex;
    justify-content: center;
    gap: 1rem;
}