.article__button {
    display: inline-block;
    margin-bottom: 50px;
    border: 2px solid #000;
    color: #000;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    align-items: center;
  justify-content: center;
}

.article__button__back {
    display: inline-block;
    margin-bottom: 50px;
    border: 2px solid #000;
    color: #000;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.classic__arrow {
    height : 150%;
}