.introduction__title {
    text-align: center;
    }

.article__card.card {
    padding-bottom: 80px;
  }

.card__caption {
    position: relative;
    margin: 0 auto;
    margin-top: -130px;
    max-width: calc(100% - 90px);
    text-align: center;
    background-color: rgba(255,255,255,0.85);
  }
  
.card__image {
    height: 230px;
    object-fit: cover;
    align-items: center;
  }

.card__title {
    padding-top: 20px;
    text-align: center;
  }
  
.card__description {
    padding-top: 25px ;
    margin: 5px auto;
  }

.card__link {
    text-decoration: none;
    font-weight: bold;
    text-decoration: underline;
  }