    .carrousel_parent-ecrans {
      /* aligne horizontalement les enfants */
      display: flex;
      /* largeur du parent */
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    }
    .carrousel_ecran {
        scroll-snap-align: start;
      /* largeur du parent pour chaque enfant */
      width: 100%;
      /* permet de garder toute la largeur du parent */
      flex: none;
    }
    .carrousel_ecran figure {
      /* enlève les marges par défaut */
      margin: 0;
    }

    .carrousel {
      position: relative;
    }

    
.ap__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ap__card {
  width: 250px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 20px;
}

/* Style pour l'image */
.ap__card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.ap__card a {
  text-decoration: none;
  color: black;
}