.hero {
  position: relative;
  width: 100%;
  height: auto;
}

.hero__img img {
  width: 100%;
  height: auto;
  display: block;
}

.hero__title,
.hero__quote,
.hero__credit {
  position: absolute;
  color: white;
}

.hero__title {
  text-align: center;
  top: 150px;
  left: 20px;
}

.hero__quote {
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-weight: 1200;
  font-size: 20px;
  top: 370px;
  left: 20px;
  margin-right: 8px;
}

.hero__credit {
  font-family: 'Mulish', sans-serif;
  font-size: 12px;
  bottom: 285px;
  right: 20px;
}